---
import WithoffsetImage from "../components/WithoffsetImage.astro";
import Accordion from "../components/Accordion.vue";
import Form from "../components/Form.astro";
import Footer from "../Footer.astro";
import { ViewTransitions } from "astro:transitions";
---

<html lang="fr">
  <head>
    <!-- High Priority Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>SAMANHALA GARDEN</title>
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#134241">
    <!-- Low Priority Global Metadata -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="mask-icon" href="/favicon.svg" color="#8D46E7">
    <link rel="sitemap" href="/sitemap-index.xml">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'unsafe-inline';" /> -->
    <!-- Font preloads 
      <link rel="preload" href="/fonts/Obviously/Obviously Normal/Web/Obviously-Regular.woff2" as="font" type="font/woff2" crossorigin="">
      <link rel="preload" href="/fonts/MDIO/Web/MDIO0.6-Regular.woff2" as="font" type="font/woff2" crossorigin="">
      <link rel="preload" href="/_astro/inter-latin-wght-normal.450f3ba4.woff2" as="font" type="font/woff2" crossorigin="">
    -->
    <!-- Page Metadata -->
    <link rel="canonical" href="https://www.samanhalagarden.ma/">
    <meta name="description" content="Samanhla Garden, expert en murs végétaux au Maroc, se distingue par la création et l'installation de murs végétaux naturels. Transformez votre espace avec nos créations uniques, alliant nature, esthétique, et durabilité. Plongez dans une oasis de bien-être aux vertus exceptionnelles, allant de l'isolation thermique et sonore, la purification de l'air, ainsi que des économies d'eau et d'espace. Découvrez des solutions personnalisées pour verdir votre domicile, bureau, partout. Expérimentez le luxe d'une verdure artistique, sur mesure pour répondre à vos besoins. Lancez-vous dans une aventure verte avec Samanhla Garden.">
    <!-- OpenGraph Tags -->
    <meta property="og:title" content="samanhalagarden">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://astro.build/">
    <meta property="og:locale" content="en">
    <meta property="og:description" content="Samanhla Garden, expert en murs végétaux au Maroc, se distingue par la création et l'installation de murs végétaux naturels. Transformez votre espace avec nos créations uniques, alliant nature, esthétique, et durabilité. Plongez dans une oasis de bien-être aux vertus exceptionnelles, allant de l'isolation thermique et sonore, la purification de l'air, ainsi que des économies d'eau et d'espace. Découvrez des solutions personnalisées pour verdir votre domicile, bureau, partout. Expérimentez le luxe d'une verdure artistique, sur mesure pour répondre à vos besoins. Lancez-vous dans une aventure verte avec Samanhla Garden.">
    <meta property="og:site_name" content="Astro">
    <meta property="og:image" content="https://astro.build/og/astro.jpg">
    <meta property="og:image:alt" content="Astro - Build the web you want.">
    <!-- Twitter Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="samanhalagarden">
    <meta name="twitter:title" content="Astro">
    <meta name="twitter:description" content="Astro builds fast content sites, powerful web applications, dynamic server APIs, and everything in-between.">
    <meta name="twitter:image" content="https://astro.build/og/astro.jpg">
    <meta name="twitter:image:alt" content="Astro - Build the web you want.">
    <ViewTransitions />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JVS5JHSY4E">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-JVS5JHSY4E");
    </script>
  </head>
  <body>
    <main class="scroll-smooth">
      <WithoffsetImage />
      <Accordion client:load />
      <Form />
      <Footer />
    </main>
  </body>
</html>
