<div class="nv-rawhtml aem-GridColumn aem-GridColumn--default--12">

	
	
    <div id="cyberpunk-slider" class="general-container-text            ">
    	
		<div><style>
@media (min-width: 640px) {
  .nv-container #rtx-ray-tracing .general-container {
    max-width: 100%;
  }
}
@media (min-width: 640px) {
  .nv-container #ray-tracing-slider .general-container {
    max-width: 100%;
  }
}
#page-content {
  overflow-x: hidden;
}
#raytracing .container, #staticTheme .container, #animateTheme .container {
  max-width: 100%;
}
#raytracing-slider {
  max-width: 100%;
}
.slider-brand-green {
  color: #76b900;
}
.slider-dark-neutral {
  color: #666;
}
.no-wrap {
  white-space: nowrap;
}
#ray-tracing-slider {
  position: relative;
  width: 100%;
  height: auto;
  top: 0px;
  /*padding-top: 30px;*/
  z-index: 1;
}
#comparison-slider {
  overflow: inherit;
}
#comparison-img1 {
  position: absolute;
  opacity: 1;
  display: block;
  left: 0px;
  top: 0px;
  z-index: 1;
}
#comparison-img2 {
  position: absolute;
  opacity: 1;
  display: block;
  left: 0px;
  top: 0px;
  z-index: 0;
}
.gf-compare-left {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0;
  padding: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.gf-compare-right {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0;
  padding: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.gf-compare-caption-left {
  position: absolute;
  left: 60px;
  z-index: 1000;
  color: #eee;
  cursor: pointer;
  font-family: NVIDIA;
  font-weight: bold;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.gf-compare-caption-right {
  position: absolute;
  right: 60px;
  z-index: 1001;
  color: #ccc;
  cursor: pointer;
  font-family: NVIDIA;
  font-weight: bold;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.gf-compare-divider {
  position: absolute;
  top: 0px;
  width: 2px;
  height: 100%;
  background-color: #fff;
  cursor: ew-resize;
  z-index: 1502;
  opacity: 0;
}
/* MOBILE BREAKPOINT */
@media only screen and (max-width: 639px) {
  .h--small {
    font-size: 20px;
    line-height: 1.25em;
  }
  #ray-tracing-slider {
    top: 0px;
    background-color: rgb(0, 0, 0, 1);
    max-height: 740px;
    padding-top: 30px;
  }
  #comparison-slider {
    position: relative;
    width: 298px;
    height: 123px;
    margin: 0 auto;
    overflow: hidden;
  }
  .gf-compare-dragger {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #76b900;
    margin-left: -12px;
    cursor: ew-resize;
    z-index: 1800;
  }
  .gf-compare-arrows {
    position: relative;
    width: 20px;
    height: 24px;
    background-image: url('/content/dam/en-zz/Solutions/geforce/ampere/rtx-3080/images/rtx-slider/ic_dragger_arrows_horiz_white_24px.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0px auto;
  }
  .gf-compare-caption-left {
    left: 15px;
    bottom: 10px;
  }
  .gf-compare-caption-right {
    right: 15px;
    bottom: 10px;
  }
}
/* TABLET BREAKPOINT */
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .h--small {
    font-size: 20px;
    line-height: 1.25em;
  }
  #ray-tracing-slider {
    /* min-height: 1024px; */
    background-color: #000;
    padding-bottom: 60px;
  }
  #comparison-slider {
    position: relative;
    width: 625px;
    height: 257px;
    margin: 30px auto 0;
    overflow: hidden;
  }
  .gf-compare-dragger {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #76b900;
    margin-left: -24px;
    cursor: ew-resize;
  }
  .gf-compare-arrows {
    position: relative;
    width: 24px;
    height: 48px;
    background-image: url('/content/dam/en-zz/Solutions/geforce/ampere/rtx-3080/images/rtx-slider/ic_dragger_arrows_horiz_white_24px.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0px auto;
  }
  .gf-compare-caption-left {
    left: 20px;
    top: auto;
    bottom: 20px;
  }
  .gf-compare-caption-right {
    right: 20px;
    top: auto;
    bottom: 20px;
  }
}
/* LAPTOP BREAKPOINT */
@media only screen and (min-width: 1024px) and (max-width: 1349px) {
  .h--small {
    font-size: 24px;
    line-height: 1.25em;
  }
  #ray-tracing-slider {
    min-height: 568px;
    max-height: 750px;
    background-color: rgb(0, 0, 0, 1);
  }
  #comparison-slider {
    position: relative;
    width: 954px;
    height: 393px;
    margin: 0;
    overflow: hidden;
  }
  .gf-compare-dragger {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #76b900;
    margin-left: -24px;
    cursor: ew-resize;
  }
  .gf-compare-arrows {
    position: relative;
    width: 24px;
    height: 48px;
    background-image: url('/content/dam/en-zz/Solutions/geforce/ampere/rtx-3080/images/rtx-slider/ic_dragger_arrows_horiz_white_24px.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0px auto;
  }
  .gf-compare-caption-left {
    left: 15px;
    top: auto;
    bottom: 20px;
  }
  .gf-compare-caption-right {
    right: 15px;
    top: auto;
    bottom: 20px;
  }
}
/* DESKTOP BREAKPOINT */
@media only screen and (min-width: 1350px) {
  .h--small {
    font-size: 28px;
    line-height: 1.25em;
  }
  #ray-tracing-slider {
    background-color: rgb(0, 0, 0, 1);
  }
  #comparison-slider {
    position: relative;
    width: 1350px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
  }
  .gf-compare-dragger {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #76b900;
    margin-left: -24px;
    cursor: ew-resize;
  }
  .gf-compare-arrows {
    position: relative;
    width: 24px;
    height: 48px;
    background-image: url('/content/dam/en-zz/Solutions/geforce/ampere/rtx-3080/images/rtx-slider/ic_dragger_arrows_horiz_white_24px.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0px auto;
  }
  .gf-compare-caption-left {
    left: 30px;
    bottom: 30px;
  }
  .gf-compare-caption-right {
    right: 30px;
    bottom: 30px;
  }
}
</style><div id="ray-tracing-slider"> 
 <div id="comparison-slider" class="gf-compare" style="height: 972px; width: 1728px;"> 
  <div class="gf-compare-caption-right h--small" style="opacity: 1; top: auto; bottom: 30px; right: 30px; position: absolute;">
   RTX 
   <span class="slider-brand-green">On</span>
  </div> 
  <div id="before" class="gf-compare-left" style="clip: rect(0px, 518.4px, 972px, 0px); height: 972px; width: 1728px;"> 
   <picture> 
    <source type="image/webp" srcset="https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-off-3840.webp 3840w, 
                                            https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-off-2560.webp 2560w, 
                                            https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-off-2048.webp 2048w, 
                                            https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-off-1536.webp 1536w, 
                                            https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-off-1024.webp 1024w, 
                                            https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-off-640.webp 640w, 
                                            https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-off-320.webp 320w" sizes="100vw"> 
    <source type="image/jpeg" srcset="https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-off-3840.jpg 3840w, 
                                            https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-off-2560.jpg 2560w, 
                                            https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-off-2048.jpg 2048w, 
                                            https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-off-1536.jpg 1536w, 
                                            https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-off-1024.jpg 1024w, 
                                            https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-off-640.jpg 640w, 
                                            https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-off-320.jpg 320w" sizes="100vw"> 
    <img id="comparison-img1" src="https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-off-2560.jpg" width="100%" height="auto" alt="PORTAL RTX OFF"> 
   </picture> 
  </div> 
  <div class="gf-compare-caption-left h--small" style="opacity: 1; top: auto; bottom: 30px; left: 30px; position: absolute;">
   RTX 
   <span class="slider-dark-neutral">Off</span>
  </div> 
  <div id="after" class="gf-compare-right" style="height: 972px; width: 1728px;"> 
   <picture> 
    <source type="image/webp" srcset="https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-on-3840.webp 3840w, 
                                            https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-on-2560.webp 2560w, 
                                            https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-on-2048.webp 2048w, 
                                            https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-on-1536.webp 1536w, 
                                            https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-on-1024.webp 1024w, 
                                            https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-on-640.webp 640w, 
                                            https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-on-320.webp 320w" sizes="100vw"> 
    <source type="image/jpeg" srcset="https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-on-3840.jpg 3840w, 
                                           https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-on-2560.jpg 2560w, 
                                           https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-on-2048.jpg 2048w, 
                                           https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-on-1536.jpg 1536w, 
                                           https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-on-1024.jpg 1024w, 
                                           https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-on-640.jpg 640w, 
                                           https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-on-320.jpg 320w" sizes="100vw"> 
    <img id="comparison-img2" src="https://images.nvidia.com/aem-dam/Solutions/geforce/ray-tracing/portal-rtx/geforce-ray-tracing-portal-rtx-on-2560.jpg" width="100%" height="auto" alt="PORTAL RTX ON"> 
   </picture> 
  </div> 
  <!--<div class="gf-compare-caption-right-bodycopy"></div>--> 
  <div class="gf-compare-divider" style="translate: none; rotate: none; scale: none; touch-action: pan-y; cursor: grab; user-select: none; height: 972px; transform: translate3d(-345.6px, 0px, 0px); margin-left: 864px; background-color: rgb(118, 185, 0); opacity: 1;"> 
   <div class="gf-compare-dragger" style="touch-action: pan-y; top: 462px; margin-left: -24px; border-radius: 24px; height: 48px; width: 48px; background-color: rgb(118, 185, 0); bottom: auto; position: absolute;"> 
    <div class="gf-compare-arrows" style="touch-action: pan-y; height: 48px; width: 36px; left: 1px;"></div> 
   </div> 
  </div> 
 </div> 
</div> 
<script>
(function () {
  'use strict';
  console.log("NVIDIA RTX COMPARISON SLIDER :: IMAGES-ONLY :: KALEB WYMAN • 2022");
  gsap.registerPlugin(CSSRulePlugin, Draggable, EasePack, InertiaPlugin, ScrollToPlugin, ScrollTrigger, TextPlugin);
  gsap.defaults({overwrite: "auto"});
  if (typeof NV === 'undefined') {var NV = {};}
  NV.ww = $(window).width();
  NV.wh = $(window).height();
  NV.dw = $(document).width();
  NV.dh = $(document).height();
  NV.wi = $(window).innerWidth();
  NV.vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0);
  NV.vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0);
  NV.winWidth = Math.max(NV.ww, NV.wi);
  NV.prevWidth;
  NV.responsiveIndex = 0;
  NV.responsiveNavigationScrollOffsetArray = [82, 101, 136, 136, 136];
  NV.comparisonSliderWidth;
  NV.comparisonSliderHeight;
  NV.comparisonSliderMobileWidth = 298;
  NV.comparisonSliderMobileHeight = 298 * 0.5625;
  NV.comparisonSliderTabletWidth = 625;
  NV.comparisonSliderTabletHeight = 625 * 0.5625;
  NV.comparisonSliderDesktopWidth = 954;
  NV.comparisonSliderDesktopHeight = 954 * 0.5625;
  NV.comparisonSliderUltraWidth = 2560;
  NV.comparisonSliderUltraHeight = 2560 * 0.5625;
  NV.comparisonSliderInRange = false;
  NV.comparisonSliderSide = "none";
  NV.comparisonSliderUnderMinHeight = undefined;
  NV.comparisonSliderCentered = false;
  NV.introPlayed = false;
  NV.outroPlayed = false;
  NV.cImg1;
  NV.cImg2;
  NV.imageOnlyMode = true;
  NV.comparisonSliderScrollTriggerReady = false;
  gsap.set(".gf-compare-caption-left", {opacity: 0});
  gsap.set(".gf-compare-caption-right", {opacity: 0});
  function refreshResponsiveValues() {
    NV.prevWidth = NV.winWidth;
    NV.prevHeight = NV.vh;
    NV.ww = $(window).width();
    NV.wh = $(window).height();
    NV.dw = $(document).width();
    NV.dh = $(document).height();
    NV.wi = $(window).innerWidth();
    NV.winWidth = Math.max(NV.ww, NV.wi);
    NV.vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0);
    NV.vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0);
    NV.previousOrientation = NV.orientation;
    NV.orientation = (NV.vw > NV.vh) ? "landscape" : "portrait";
    if (NV.vw < 640) {
    // TARGET: MOBILE PHONES and PHABLETS...
      // MOBILE
      NV.responsiveIndex = 0;
    } else if (NV.vw >= 640 && NV.vw < 1024) {
    // TARGET: TABLETS...
      // TABLET
      NV.responsiveIndex = 1;
    } else if (NV.vw >= 1024 && NV.vw < 1350) {
    // TARGET: LAPTOPS...
      // LAPTOP
      NV.responsiveIndex = 2;
    } else if (NV.vw >= 1350) {
    // TARGET: DESKTOPS...
      NV.responsiveIndex = 3; // DESKTOP
    }
    if (NV.vw - NV.winWidth > 0) {
      NV.scrollbarVisible = true;
      NV.scrollbarWidth = NV.vw - NV.winWidth;
    } else {
      NV.scrollbarVisible = false;
      NV.scrollbarWidth = NV.vw - NV.winWidth;
    }
    NV.responsiveNavigationScrollOffset = NV.responsiveNavigationScrollOffsetArray[NV.responsiveIndex];
    //console.log("COMPARISON SLIDER DATA:");
    //console.log("\t\t\t NV.ww", NV.ww, "\n");
    //console.log("\t\t\t NV.wh", NV.wh, "\n");
    //console.log("\t\t\t NV.dw", NV.dw, "\n");
    //console.log("\t\t\t NV.dh", NV.dh, "\n");
    //console.log("\t\t\t NV.wi", NV.wi, "\n");
    //console.log("\t\t\t NV.winWidth", NV.winWidth, "\n");
    //console.log("\t\t\t NV.vw", NV.vw, "\n");
    //console.log("\t\t\t NV.vh", NV.vh, "\n");
    //console.log("\t\t\t NV.prevWidth", NV.prevWidth, "\n");
    //console.log("\t\t\t NV.prevHeight", NV.prevHeight, "\n");
    //console.log("\t\t\t NV.orientation ----------->", NV.orientation, "\n");
    //console.log("\t\t\t NV.previousOrientation --->", NV.previousOrientation, "\n");
    //console.log("\t\t\t NV.responsiveIndex", NV.responsiveIndex, "\n");
    //console.log("\t\t\t NV.responsiveNavigationScrollOffset", NV.responsiveNavigationScrollOffset, "\n");
    //console.log("\t\t\t NV.comparisonSliderWidth", NV.comparisonSliderWidth, "\n");
    //console.log("\t\t\t NV.comparisonSliderHeight", NV.comparisonSliderHeight, "\n");
    //console.log("\t\t\t NV.comparisonSliderInRange", NV.comparisonSliderInRange, "\n");
    //console.log("\t\t\t NV.scrollbarVisible", NV.scrollbarVisible, "\n");
    //console.log("\t\t\t NV.scrollbarWidth", NV.scrollbarWidth, "\n");
    //console.log("\t\t\t NV.comparisonSliderEntered", NV.comparisonSliderEntered, "\n");
  }
  function checkSizeComparison() {
    refreshResponsiveValues();
    if (NV.previousOrientation !== undefined && NV.previousOrientation !== NV.orientation) {
      onOrientationChange();
      return;
    }
    if (!NV.comparisonSliderScrollTriggerReady) {
      initComparisonSliderScrollTrigger();
    }
    // FULLSCREEN RESPONSIVE HEIGHT MODE
    checkHeightComparison();
    // SET SIZES FOR COMPARISON SLIDER...
    gsap.set("#comparison-slider", {width: NV.comparisonSliderWidth, height: NV.comparisonSliderHeight, overwrite: true});
    gsap.set(".gf-compare-left", {width: NV.comparisonSliderWidth, height: NV.comparisonSliderHeight,
                                  clip: "rect(0px " + NV.comparisonSliderWidth + "px " + NV.comparisonSliderHeight + "px 0px)",
                                  overwrite: true});
    gsap.set(".gf-compare-right", {width: NV.comparisonSliderWidth, height: NV.comparisonSliderHeight, overwrite: true});
    gsap.set(".gf-compare-divider", {opacity: 1, backgroundColor: "rgba(110,110,110,0.9)", marginLeft: (NV.comparisonSliderWidth * 0.5), x: (NV.comparisonSliderWidth * 0.5), height: NV.comparisonSliderHeight});
    if (NV.comparisonSliderInRange) {
      gsap.killTweensOf(compareIntroAnimation);
      gsap.delayedCall(0.2, compareIntroAnimation);
    }
  }
  function checkHeightComparison() {
    NV.responsiveNavigationScrollOffset = NV.responsiveNavigationScrollOffsetArray[NV.responsiveIndex];
    NV.comparisonSliderWidth = NV.winWidth - 60;
    NV.comparisonSliderHeight = NV.comparisonSliderWidth * 0.5625;
    NV.prevHeight = NV.vh;                        
    if (NV.vw < 640) {
      // MOBILE PHONE...
      if (NV.vh < ((NV.winWidth * 0.5625) + 79) && NV.comparisonSliderInRange == true || NV.comparisonSliderEntered == true) {
        NV.comparisonSliderUnderMinHeight = true;
      } else {
        NV.comparisonSliderUnderMinHeight = false;
      }
      if (NV.comparisonSliderUnderMinHeight == true) {
        // Lesser than minimum height...
        gsap.set(".gf-compare-caption-left", {position: "fixed", left: 45, top: "auto", bottom: 12});
        gsap.set(".gf-compare-caption-right", {position: "fixed", right: 45, top: "auto", bottom: 12});
        gsap.set(".gf-compare-arrows", {width: 50, height: 100, left: 1});
        gsap.set(".gf-compare-dragger", {position: "absolute", backgroundColor: "rgba(102,102,102,0.01)", width: 100, height: 100, borderRadius: 50, marginLeft: -50, top: "calc(50vh - 105px)", bottom: "auto"});
      } else {
        // Greater than minimum height...
        gsap.set(".gf-compare-caption-left", {position: "absolute", left: 15, top: "auto", bottom: 10});
        gsap.set(".gf-compare-caption-right", {position: "absolute", right: 15, top: "auto", bottom: 10});
        gsap.set(".gf-compare-arrows", {width: 50, height: 100, left: 1});
        gsap.set(".gf-compare-dragger", {backgroundColor: "rgba(102,102,102,0.01)", width: 100, height: 100, borderRadius: 50, marginLeft: -50, top: (NV.comparisonSliderHeight * 0.5) - 50});
        NV.comparisonSliderUnderMinHeight = false;
      }
    } else if (NV.vw > 639 && NV.vw < 1024) {
      // TABLET...
      if (NV.vh < ((NV.winWidth * 0.5625) + 100) && NV.comparisonSliderInRange == true || NV.comparisonSliderEntered == true) {
        NV.comparisonSliderUnderMinHeight = true;
      } else {
        NV.comparisonSliderUnderMinHeight = false;
      }
      if (NV.comparisonSliderUnderMinHeight == true) {
        //console.log("checkHeight start :: TABLET HEIGHT :: NV.vh", NV.vh, "<", "(NV.winWidth * 0.5625) + 100)", (NV.winWidth * 0.5625) + 100);
        gsap.set(".gf-compare-caption-left", {position: "fixed", left: 60, top: "auto", bottom: 30});
        gsap.set(".gf-compare-caption-right", {position: "fixed", right: 60, top: "auto", bottom: 30});
        gsap.set(".gf-compare-arrows", {width: 50, height: 100, left: 1});
        gsap.set(".gf-compare-dragger", {position: "fixed", backgroundColor: "rgba(102,102,102,0.01)", width: 100, height: 100, borderRadius: 50, marginLeft: -50, top: "calc(50vh - 101px)", bottom: "auto"});
      } else {
        //console.log("checkHeight start :: TABLET HEIGHT :: NV.vh", NV.vh, ">=", "(NV.winWidth * 0.5625) + 100)", (NV.winWidth * 0.5625) + 100);
        gsap.set(".gf-compare-caption-left", {position: "absolute", left: 30, top: "auto", bottom: 30});
        gsap.set(".gf-compare-caption-right", {position: "absolute", right: 30, top: "auto", bottom: 30});
        gsap.set(".gf-compare-arrows", {width: 50, height: 100, left: 1});
        gsap.set(".gf-compare-dragger", {backgroundColor: "rgba(102,102,102,0.01)", width: 100, height: 100, borderRadius: 50, marginLeft: -50, top: (NV.comparisonSliderHeight * 0.5) - 50});
      }
    } else if (NV.vw > 1023 && NV.vw < 1350) {
      // LAPTOP...
      NV.comparisonSliderWidth = NV.winWidth; // * 0.9999
      NV.comparisonSliderHeight = NV.comparisonSliderWidth * 0.5625;
      if (NV.vh < (NV.winWidth * 0.5625) + 100 && NV.comparisonSliderInRange == true || NV.comparisonSliderEntered == true) {
        NV.comparisonSliderUnderMinHeight = true;
      } else {
        NV.comparisonSliderUnderMinHeight = false;
      }
      if (NV.comparisonSliderUnderMinHeight == true) {
        gsap.set(".gf-compare-caption-left", {position: "fixed", left: 30, top: "auto", bottom: 30});
        gsap.set(".gf-compare-caption-right", {position: "fixed", right: 30, top: "auto", bottom: 30});
        gsap.set(".gf-compare-arrows", {width: 36, height: 48, left: 1});
        gsap.set(".gf-compare-dragger", {backgroundColor: "rgba(102,102,102,1)", width: 48, height: 48, borderRadius: 24, marginLeft: -24, top: "calc(50vh - 96px)", bottom: "auto"});
      } else {
        gsap.set(".gf-compare-caption-left", {position: "absolute", left: 30, top: "auto", bottom: 30});
        gsap.set(".gf-compare-caption-right", {position: "absolute", right: 30, top: "auto", bottom: 30});
        gsap.set(".gf-compare-arrows", {width: 36, height: 48, left: 1});
        gsap.set(".gf-compare-dragger", {backgroundColor: "rgba(102,102,102,1)", width: 48, height: 48, borderRadius: 24, marginLeft: -24, top: (NV.comparisonSliderHeight * 0.5) - 24, bottom: "auto"});
      }
    } else if (NV.vw > 1349 && NV.vw < 2560 ) {
      // DESKTOP...
      NV.comparisonSliderWidth = NV.winWidth; // * 0.9999
      NV.comparisonSliderHeight = NV.comparisonSliderWidth * 0.5625;
      if (NV.vh < (NV.winWidth * 0.5625) + 136 && NV.comparisonSliderInRange == true || NV.comparisonSliderEntered == true) {
        NV.comparisonSliderUnderMinHeight = true;
      } else {
        NV.comparisonSliderUnderMinHeight = false;
      }
      if (NV.comparisonSliderUnderMinHeight == true) {
        gsap.set(".gf-compare-caption-left", {position: "fixed", left: 30, top: "auto", bottom: 30});
        gsap.set(".gf-compare-caption-right", {position: "fixed", right: 30, top: "auto", bottom: 30});
        gsap.set(".gf-compare-arrows", {width: 36, height: 48});
        gsap.set(".gf-compare-dragger", {backgroundColor: "rgba(118,185,0,1)", width: 48, height: 48, borderRadius: 24, marginLeft: -24, top: "calc(50vh - 96px)", bottom: "auto"});
      } else {
        gsap.set(".gf-compare-caption-left", {position: "absolute", left: 30, top: "auto", bottom: 30});
        gsap.set(".gf-compare-caption-right", {position: "absolute", right: 30, top: "auto", bottom: 30});
        gsap.set(".gf-compare-arrows", {width: 36, height: 48});
        gsap.set(".gf-compare-dragger", {backgroundColor: "rgba(118,185,0,1)", width: 48, height: 48, borderRadius: 24, marginLeft: -24, top: (NV.comparisonSliderHeight * 0.5) - 24});
      }
    } else if (NV.vw >= 2560) {
      // ULTRA-WIDE DESKTOPS...
      NV.comparisonSliderWidth = NV.comparisonSliderUltraWidth;
      NV.comparisonSliderHeight = NV.comparisonSliderUltraHeight;
      if (NV.vh < (NV.winWidth * 0.5625) + 136 && NV.comparisonSliderInRange == true || NV.comparisonSliderEntered == true) {
        NV.comparisonSliderUnderMinHeight = true;
      } else {
        NV.comparisonSliderUnderMinHeight = false;
      }
      if (NV.comparisonSliderUnderMinHeight == true) {
        gsap.set(".gf-compare-caption-left", {position: "fixed", left: (30 + ((NV.vw - 2560) * 0.5)), top: "auto", bottom: 30});
        gsap.set(".gf-compare-caption-right", {position: "fixed", right: (30 + ((NV.vw - 2560) * 0.5)), top: "auto", bottom: 30});
        gsap.set(".gf-compare-arrows", {width: 36, height: 48});
        gsap.set(".gf-compare-dragger", {backgroundColor: "rgba(118,185,0,1)", width: 48, height: 48, borderRadius: 24, marginLeft: -24, top: "calc(50vh - 96px)"});
      } else {
        gsap.set(".gf-compare-caption-left", {position: "absolute", left: 30, top: "auto", bottom: 30});
        gsap.set(".gf-compare-caption-right", {position: "absolute", right: (30 + NV.scrollbarWidth), top: "auto", bottom: 30});
        gsap.set(".gf-compare-arrows", {width: 36, height: 48});
        gsap.set(".gf-compare-dragger", {backgroundColor: "rgba(118,185,0,1)", width: 48, height: 48, borderRadius: 24, marginLeft: -24, top: (NV.comparisonSliderHeight * 0.5) - 24});
      }
    }
  }
  function initComparisonSliderScrollTrigger() {
    ScrollTrigger.create({
      trigger: "#ray-tracing-slider",
      start: "top bottom",
      end: "bottom 33%",
      onEnter: function(){enterLeaveComparisonSection("enter")},
      onEnterBack: function(){enterLeaveComparisonSection("enterBack")},
      onLeave: function(){enterLeaveComparisonSection("leave")},
      onLeaveBack: function(){enterLeaveComparisonSection("leaveBack")},
      id: "rtx",
      markers: false
    });
    ScrollTrigger.create({
      trigger: "#comparison-slider",
      start: "top 70%",
      end: "bottom bottom",
      onEnter: function(){enterLeaveComparisonSlider("enter")},
      onEnterBack: function(){enterLeaveComparisonSlider("enterBack")},
      onLeave: function(){enterLeaveComparisonSlider("leave")},
      onLeaveBack: function(){enterLeaveComparisonSlider("leaveBack")},
      id: "compare",
      markers: false
    });
    NV.comparisonSliderScrollTriggerReady = true;
  }
  function enterLeaveComparisonSection(_e) {
    if (_e == "enter" || _e == "enterBack") {
      gsap.killTweensOf(compareIntroAnimation);
      gsap.delayedCall(0.2, compareIntroAnimation);
    } else if (_e == "leave" || _e == "leaveBack") {
      gsap.killTweensOf(compareOutroAnimation);
      gsap.delayedCall(0.2, compareOutroAnimation);
    }
  }
  function enterLeaveComparisonSlider(_e) {
    if (_e == "enter" || _e == "enterBack") {
      NV.comparisonSliderInRange = true;
      NV.comparisonSliderEntered = (_e == "enter") ? true : false;
    } else if (_e == "leave" || _e == "leaveBack") {
      NV.comparisonSliderInRange = false;
      NV.comparisonSliderEntered = false;
    }
    checkHeightComparison();
  }
  function compareIntroAnimation() {
    if (NV.introPlayed !== true) {
      gsap.set(".gf-compare-caption-left", {opacity: 0, overwrite: true});
      gsap.set(".gf-compare-caption-right", {opacity: 0, overwrite: true});
      gsap.fromTo(".gf-compare-caption-left", {opacity: 0}, {duration: 2, opacity: 1, ease: "back.inOut(0.6)", delay: 0.35, overwrite: true});
      gsap.fromTo(".gf-compare-caption-right", {opacity: 0}, {duration: 2, opacity: 1, ease: "back.inOut(0.6)", delay: 0.35, overwrite: true});
      gsap.fromTo(".gf-compare-left", {clip: "rect(0px " + NV.comparisonSliderWidth + "px " + NV.comparisonSliderHeight + "px 0px)", overwrite: true},
                                      {duration: 2, clip: "rect(0px, " + (NV.comparisonSliderWidth * 0.30) + "px, " + NV.comparisonSliderHeight + "px, 0px)", ease: "back.inOut(0.6)", overwrite: true});
      gsap.fromTo(".gf-compare-divider", {backgroundColor: "#eee", x: (NV.comparisonSliderWidth * 0.5), overwrite: true}, {duration: 2, backgroundColor: "rgba(118,185,0,1)", x: -(NV.comparisonSliderWidth * 0.20), ease: "back.inOut(0.6)", overwrite: true});
      if (NV.vw < 1024) {
        gsap.fromTo(".gf-compare-dragger", {backgroundColor: "rgba(102,102,102,0.01)"}, {duration: 2, backgroundColor: "rgba(118,185,0,0.01)", ease: "back.inOut(0.6)", delay: 0.5, overwrite: true});
      } else {
        gsap.fromTo(".gf-compare-dragger", {backgroundColor: "rgba(102,102,102,1)"}, {duration: 2, backgroundColor: "rgba(118,185,0,1)", ease: "back.inOut(0.6)", delay: 0.5, overwrite: true});
      }
      NV.introPlayed = true;
      NV.comparisonSliderCentered = false;
    } else {
      NV.comparisonSliderCentered = false;
      resetToCenterAnimation();
      NV.introPlayed = false;
    }
  }
  function resetToCenterAnimation() {
    if (NV.comparisonSliderCentered == true) {return;}
    gsap.to(".gf-compare-caption-left", {duration: 1.5, opacity: 1, ease: "back.inOut(0.6)", delay: 0.35, overwrite: "auto"});
    gsap.to(".gf-compare-caption-right", {duration: 1.5, opacity: 1, ease: "back.inOut(0.6)", delay: 0.35, overwrite: "auto"});
    gsap.to(".gf-compare-left", {duration: 1.5, clip: "rect(0px, " + (NV.comparisonSliderWidth * 0.5) + "px, " + NV.comparisonSliderHeight + "px, 0px)", ease: "back.inOut(0.6)", overwrite: "auto"});
    gsap.to(".gf-compare-divider", {duration: 1.5, backgroundColor: "rgba(118,185,0,1)", x: -(NV.comparisonSliderWidth * 0), ease: "back.inOut(0.6)", overwrite: "auto"});
    if (NV.vw < 1024) {
      gsap.to(".gf-compare-dragger", {duration: 1.5, backgroundColor: "rgba(118,185,0,0.01)", ease: "back.inOut(0.6)", delay: 0.35});
    } else {
      gsap.to(".gf-compare-dragger", {duration: 1.5, backgroundColor: "rgba(118,185,0,1)", ease: "back.inOut(0.6)", delay: 0.35});
    }
    NV.comparisonSliderCentered = true;
  }
  function compareOutroAnimation() {
    resetToCenterAnimation();
    if (NV.outroPlayed) {
      resetToCenterAnimation();
    }
    NV.outroPlayed = true;
  }
  function compareSides(_duration, _endX) {
    _duration = 0.5;
    if (_endX < -(NV.comparisonSliderWidth * 0.25)) {
      if (_endX <= -((NV.comparisonSliderWidth * 0.5) - 5)) {
        gsap.to(".gf-compare-caption-left", {duration: _duration, opacity: 0.2, ease: "cubic.out"});
        gsap.to(".gf-compare-caption-right", {duration: _duration, opacity: 1, ease: "cubic.out"});
        if (NV.vw < 1024) {
          gsap.to(".gf-compare-dragger", {duration: _duration, backgroundColor: "rgba(118,185,0,0.01)", ease: "cubic.out", delay: 0.9});
        } else {
          gsap.to(".gf-compare-dragger", {duration: _duration, backgroundColor: "rgba(118,185,0,1)", ease: "cubic.out", delay: 0.9});
        }
        gsap.to(".gf-compare-divider", {duration: _duration, backgroundColor: "rgba(51,51,51,0.5)", ease: "cubic.out", delay: 0.9}); // #333 half transparent
      } else {
        gsap.to(".gf-compare-caption-left", {duration: _duration, opacity: 0.2, ease: "cubic.out"});
        gsap.to(".gf-compare-caption-right", {duration: _duration, opacity: 1, ease: "cubic.out"});
      }
    } else if (_endX > (NV.comparisonSliderWidth * 0.25)) {
      if (_endX >= ((NV.comparisonSliderWidth * 0.5) - 5)) {
        gsap.to(".gf-compare-caption-left", {duration: _duration, opacity: 1, ease: "cubic.out"});
        gsap.to(".gf-compare-caption-right", {duration: _duration, opacity: 0.2, ease: "cubic.out"});
        if (NV.vw < 1024) {
          gsap.to(".gf-compare-dragger", {duration: _duration, backgroundColor: "rgba(118,185,0,0.01)", ease: "cubic.out", delay: 0.9});
        } else {
          gsap.to(".gf-compare-dragger", {duration: _duration, backgroundColor: "rgba(118,185,0,1)", ease: "cubic.out", delay: 0.9});
        }
        gsap.to(".gf-compare-divider", {duration: _duration, backgroundColor: "rgba(51,51,51,0.5)", ease: "cubic.out", delay: 0.9}); // #333 half transparent
      } else {
        gsap.to(".gf-compare-caption-left", {duration: _duration, opacity: 1, ease: "cubic.out"});
        gsap.to(".gf-compare-caption-right", {duration: _duration, opacity: 0.2, ease: "cubic.out"});
      }
    } else {
      gsap.to(".gf-compare-caption-left", {duration: _duration, opacity: 1, ease: "cubic.out"});
      gsap.to(".gf-compare-caption-right", {duration: _duration, opacity: 1, ease: "cubic.out"});
    }
    //gsap.to(".gf-compare-left", {duration: _duration, clip:"rect(0px " + (_endX + (NV.comparisonSliderWidth * 0.5)) + "px " + NV.comparisonSliderHeight + "px 0px)", ease: "cubic.out", overwrite: true}); //ease: "elastic(0.2, 0.8)"
    //gsap.to(".gf-compare-left", {duration: _duration, clip:"rect(0px " + (_endX + (NV.comparisonSliderWidth * 0.5)) + "px " + NV.comparisonSliderHeight + "px 0px)", ease: "cubic.out"});
  }
  function toggleSides(side) {
    if (side === "left") {
      // LEFT
      gsap.to(".gf-compare-divider", {duration: 1, x: (NV.comparisonSliderWidth * 0.5), ease: "expo.out"});
      gsap.to(".gf-compare-left", {duration: 1, clip:"rect(0px " + (NV.comparisonSliderWidth) + "px " + NV.comparisonSliderHeight + "px 0px)", ease: "expo.out"});
      gsap.to(".gf-compare-caption-left", {duration: 0.5, opacity: 1, ease: "cubic.out"});
      gsap.to(".gf-compare-caption-right", {duration: 0.5, opacity: 0.2, ease: "cubic.out"});
      NV.comparisonSliderSide = "left";
    } else if (side === "right") {
      // RIGHT
      gsap.to(".gf-compare-divider", {duration: 1, x: -(NV.comparisonSliderWidth * 0.5), ease: "expo.out"});
      gsap.to(".gf-compare-left", {duration: 1, clip: "rect(0px 0px " + NV.comparisonSliderHeight + "px 0px)", ease: "expo.out"});
      gsap.to(".gf-compare-caption-left", {duration: 0.5, opacity: 0.2, ease: "cubic.out"});
      gsap.to(".gf-compare-caption-right", {duration: 0.5, opacity: 1, ease: "cubic.out"});
      NV.comparisonSliderSide = "right";
    }
  }
  function switchSides(side) {
    //console.log("switchSides: " + side);
    if (side !== comparisonSliderSide) {
      if (NV.vw < 1024) {
        gsap.set(".gf-compare-dragger", {backgroundColor: "rgba(102,102,102,0.01)"});
        gsap.to(".gf-compare-dragger", {duration: 0.2, backgroundColor: "rgba(153,153,153,0.01)", delay: 1.2});
      } else {
        gsap.set(".gf-compare-dragger", {backgroundColor: "rgba(102,102,102,1)"}); // #666
        gsap.to(".gf-compare-dragger", {duration: 0.2, backgroundColor: "rgba(153,153,153,1)", delay: 1.2}); // #999
      }
      gsap.set(".gf-compare-divider", {backgroundColor: "rgba(51,51,51,0.5)"}); // #333 half transparent
    }
    if (side === "left") {
      // LEFT
      gsap.to(".gf-compare-divider", {duration: 1, x: (NV.comparisonSliderWidth * 0.5), ease: "expo.out"});
      gsap.to(".gf-compare-left", {duration: 1, clip:"rect(0px " + (NV.comparisonSliderWidth) + "px " + NV.comparisonSliderHeight + "px 0px)", ease: "expo.out"});
      gsap.to(".gf-compare-caption-left", {duration: 0.5, opacity: 1, ease: "cubic.out"});
      gsap.to(".gf-compare-caption-right", {duration: 0.5, opacity: 0.2, ease: "cubic.out"});
      NV.comparisonSliderSide = "left";
    } else {
      // RIGHT
      gsap.to(".gf-compare-divider", {duration: 1, x: -(NV.comparisonSliderWidth * 0.5), ease: "expo.out"});
      gsap.to(".gf-compare-left", {duration: 1, clip:"rect(0px " + 0 + "px " + NV.comparisonSliderHeight + "px 0px)", ease: "expo.out"});
      gsap.to(".gf-compare-caption-left", {duration: 0.5, opacity: 0.2, ease: "cubic.out"});
      gsap.to(".gf-compare-caption-right", {duration: 0.5, opacity: 1, ease: "cubic.out"});
      NV.comparisonSliderSide = "right";
    }
  }
  $(document).ready(function () {
    // SETUP ASSET REFERENCES...
    NV.cImg1 = document.getElementById("comparison-img1");
    NV.cImg2 = document.getElementById("comparison-img2");
    // SETUP DRAGGABLES...
    Draggable.create(".gf-compare-divider", {
      bounds: document.getElementById("comparison-slider"),
      inertia: true,
      type: "x",
      edgeResistance: 0.65,
      overshootTolerance: 0,
      lockAxis: true,
      throwProps: true,
      onDragStart: function () {
        if (NV.vw < 1024) {
          gsap.set(".gf-compare-dragger", {backgroundColor: "rgba(102,102,102,0.01)"}); // #666 transparent
        } else {
          gsap.set(".gf-compare-dragger", {backgroundColor: "rgba(102,102,102,1)"}); // #666
        }
        gsap.set(".gf-compare-divider", {backgroundColor: "rgba(102,102,102,0.1)"}); // #666
        gsap.killTweensOf(compareIntroAnimation);
        gsap.killTweensOf(compareOutroAnimation);
      },
      onPress: function() {
        gsap.killTweensOf(".gf-compare-divider");
        gsap.killTweensOf(".gf-compare-left");
        this.update();
      },
      onThrowUpdate: function() {
        compareSides(0, this.x);
        gsap.set(".gf-compare-left", {clip:"rect(0px " + (this.x + (NV.comparisonSliderWidth * 0.5)) + "px " + NV.comparisonSliderHeight + "px 0px)"});
        this.update();
      },
      onDrag: function() {
        compareSides(0, this.x);
        gsap.set(".gf-compare-left", {clip:"rect(0px " + (this.x + (NV.comparisonSliderWidth * 0.5)) + "px " + NV.comparisonSliderHeight + "px 0px)"});
      },
      onDragEnd: function() {
        var _d = this.tween.duration();
        if (NV.vw < 1024) {
          gsap.to(".gf-compare-dragger", {duration: _d, backgroundColor: "rgba(118,185,0,0.01)", ease: "expo.out"});
        } else {
          gsap.to(".gf-compare-dragger", {duration: _d, backgroundColor: "rgba(118,185,0,1)", ease: "expo.out"});
        }
        gsap.to(".gf-compare-divider", {duration: _d, backgroundColor: "rgba(118,185,0,1)", ease: "expo.out"});
        gsap.to(".gf-compare-left", {duration: _d, clip:"rect(0px " + (this.endX + (NV.comparisonSliderWidth * 0.5)) + "px " + NV.comparisonSliderHeight + "px 0px)", ease: "expo.out"});
        compareSides(_d, this.endX);
      },
      onThrowComplete: function() {
        //console.log("Throw complete!");
      }
    });
    // Add toggle behaviors to compare left and right...
    $('.gf-compare-caption-left').on('click touchend', function (e) { toggleSides("left"); });
    $('.gf-compare-caption-right').on('click touchend', function (e) { toggleSides("right"); });
    // Check the browser window width on initial page load...
    checkSizeComparison();
    // Check the browser window width on window resize event...
    $(window).resize(checkSizeComparison);
    // Check the browser window width and height on orientation change...
    window.addEventListener('orientationchange', onOrientationChange);
  });
  function onOrientationChange() {
    if (NV.previousOrientation === NV.orientation) return;
    checkSizeComparison();
  }
  window.onbeforeunload = function () {
    window.scrollTo(0,0);
  }
}());
</script> 
<!-- END :: RAY TRACING :: COMPARISON SLIDER RTX OFF vs. RTX ON :: IMAGES ONLY :: KALEB WYMAN • 2022 --></div>	
    </div>
</div>